.DS_Store
.ipynb_checkpoints/
/.project
/__pycache__/
/bottleneck_features/DogInceptionV3Data.npz
/bottleneck_features/DogResnet50Data.npz
/bottleneck_features/DogVGG19Data.npz
/bottleneck_features/DogXceptionData.npz
/saved_models/weights.best.VGG16.hdf5
bottleneck_features/DogVGG16Data.npz
dogImages/
lfw/
saved_models/weights.best.from_scratch.hdf5
saved_models/weights.best.vgg16.hdf5
.pydevproject
